<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BANNER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header><ion-label>PROGRESS</ion-label></ion-list-header>
    @for (item of eventItems; track item; let i = $index) {
      <ion-item [lines]="eventItems.length - 1 === i ? 'full' : undefined ">
        <ion-icon slot="start" [name]="item.type === 'method' ? 'play-outline' : 'notifications-circle-outline'"></ion-icon>
        <ion-label>{{item.name}}</ion-label>
        @if (item.result !== undefined) {
          <ion-icon slot="end" name="checkmark-circle" [color]="item.result ? 'success' : 'danger'"></ion-icon>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
