<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.xplatform.capacitor.plugins.capacitoradmob">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
      <meta-data
          android:name="com.google.android.gms.ads.APPLICATION_ID"
          android:value="@string/app_id"/>
    </application>

</manifest>
