<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>BANNER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header><ion-label>PROGRESS</ion-label></ion-list-header>
    <ion-item *ngFor="let item of eventItems; let i = index" [lines]="eventItems.length - 1 === i ? 'full' : undefined ">
      <ion-icon slot="start" [name]="item.type === 'method' ? 'play-outline' : 'notifications-circle-outline'"></ion-icon>
      <ion-label>{{item.name}}</ion-label>
      <ion-icon slot="end" name="checkmark-circle" *ngIf="item.result !== undefined" [color]="item.result ? 'success' : 'danger'"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
