<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play"></ion-icon>
      <ion-label>DEMO</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="easel"></ion-icon>
      <ion-label>BANNER</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="reader"></ion-icon>
      <ion-label>INTERSTITIAL</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>REWARD</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
